anyio==3.6.2
click==8.1.3
deepcomparer==0.3.0
deepfinder==1.3.0
dependency-injector==4.40.0
dnspython==2.2.1
fastapi==0.109.1
h11==0.14.0
idna==3.4
pycryptodome==3.19.1
pydantic==1.10.7
pymongo==4.3.2
six==1.16.0
sniffio==1.3.0
starlette==0.35.0
typing_extensions==4.8.0
uvicorn==0.19.0
