anyio==3.5.0
asgiref==3.5.0
cffi==1.15.0
click==8.0.4
deepcomparer==0.3.0
deepfinder==1.2.0
dependency-injector==4.40.0
fastapi==0.85.2
h11==0.13.0
idna==3.3
pycparser==2.21
pycryptodome==3.15.0
pydantic==1.9.0
pymongo==4.0.2
six==1.16.0
sniffio==1.2.0
starlette==0.20.4
typing_extensions==4.1.1
uvicorn==0.17.5
